*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #1B1B1B;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
    color: white;
}
li{
    list-style-type: none;
}
.header_lienhe{
    background-color: black;
    height: 30px;
    border-bottom: 1px solid #ddd;
}
.map{
    text-decoration: none;
    color: white   ;
}
.map:hover{
    color: red   ;
}
.user_login {
    margin-right: 30px;
    color: white;
}
.user_register{
    color: white;
}
.user_login:hover , .user_register:hover{
    color: red;
}
/* search */
.search{
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);   
}

.search input {
    margin-top: 30px;
    height: 30px;
    text-indent: 25px;
    border-bottom: 2px solid red;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .3); 
}
  
.search .ion-ios-search-strong{
    position: absolute;
    top: 0;
    right: 20px;
    color: red;
    font-size: 20px;
}
/* Thanh Menu (Nav) */
.nav-item{
    margin-left: 10px;
}

.nav-item a{
    color: white
}
.nav-item a:hover{
    color: #ff0c55;
    
}
.navbar{
   height: 50px;
   display: flex;
}
.nav-item:hover {
    border-bottom: 2px solid #ff0c55;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    width: 200px;
    -webkit-box-shadow: 14px 9px 13px 3px #ff0c55; 
    box-shadow: 14px 9px 13px 3px #ff0c55;
    z-index: 9999;  
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
}

.dropdown-content a:hover {
    background-color: #ddd;
    color : black;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/* send mail */
.content-senmail h4{
    color: rgb(255, 3, 87); 
    text-align: center
}
.content-senmail p{
    color: white; 
    text-align: center
}
/* main */
.content-main li {
    list-style-type: circle;
    color: white;
}
.content-main p {
    color: white;
}

/* footer */
.content-footer-1{
    color: white;
}
.content-footer{
    list-style-type: none; 
    border-right: 1px solid rgb(56, 56, 56);
}
.title-content-footer{
    text-transform: uppercase;
    color : #ff0040;
}
.container-fulid-payment{
    border-top: 1px solid rgb(56, 56, 56);
    padding: 20px 0 5px;
}
.icon-payment{
    margin-right: 20px;
    padding-right: 20px;
}